<img style="float: right" ng-src="http://www.gravatar.com/avatar/{{user.md5}}?s=150&d=identicon"/>
<h1>Developer estimate</h1>
<p>
  Hi {{user.name}}!
</p>
<p>Welcome to Sprint {{sprint.$value}} planning</p>
<div ng-switch="{stage}">

</div>
<p ng-hide="gotTask()">
  Please wait for a task to be chosen for estimation
</p>
<div ng-show="waitingForEstimate()">
  <p>
    <label for="estimate">Please enter your estimate (in hours) for {{task.$value}}</label>
    <input id="estimate" ng-model="pendingEstimate" type="number"/>
  </p>
  <input ng-disabled="pendingEstimate == undefined || pendingEstimate.length == 0" ng-click="submit()" type="submit" value="Submit"/>
</div>
<p ng-show="gotEstimate()">
  Thank you for your estimate for {{task.$value}}. Please wait for the next task.
</p>